<p id="notice"><%= notice %></p>

<p>
  <strong>Ementa:</strong>
  <%= @bill.menu %>
</p>

<p>
  <strong>Apresentação:</strong>
  <%= @bill.presentation %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @bill.author %>
</p>

<p>
  <strong>Localização Atual:</strong>
  <%= @bill.current_location %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bill.status %>
</p>

<p>
  <strong>Data Fim Prazo (Tramitação):</strong>
  <%= @bill.end_date_deadline %>
</p>

<p>
  <strong>Data da última Tramitação: </strong>
  <%= @bill.last_processing_date %>
</p>

<p>
  <strong>Última Ação:</strong>
  <%= @bill.last_action %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
